*{
    margin: 3px; /* jarak luar */
    padding: 3px; /* jarak dalam */
    box-sizing: border-box; /* memastikan elemen memiliki width dan height tetap */
}

body{
    background-color: #1b3142; /* warna background utama website */
}


.halamanlogo{
	font-family: Bahnschrift SemiBold; /* jenis font */
	font-size: 18px; /* ukuran font */
	display: flex; /* untuk menempatkan logo dan teks di satu baris */
	align-items: center; /* untuk mengatur posisi elemen agar ditengah */
	color: #c99253; /* warna font */
}

.halamanlogo img{

	width: 90px; /* lebar gambar logo */
	height: 90px; /* tinggi gambar logo */
}

nav ul{
	display: flex; /* agar semua navigasi di satu baris/horizontal */
	list-style: none; /* menghilangkan bullet */
	gap: 10px; /* jarak antar navigasi */
	font-family: Bahnschrift SemiBold; /* jenis font */
	font-size: 15px; /* ukuran font */
	margin-right: 30px; /* jarak ke kanan */
}

nav ul li a{
	text-decoration: none; /* tidak ada garis bawah */
	color: #c99253; /* warna font */
}

nav ul li a:hover{
	color: whitesmoke; /* warna saat hover */
}
.layout-header{
	display: flex; /* logo dan nav di satu baris */
	justify-content: space-between; /* posisi kanan dan kiri secara rata */
	align-items: center;
	background-color: #1b3142;
}
.home-text{
	background-color: #c99253;
	text-align: center;
	padding: 30px;
    width: 100%;
    color: #1b3142;
    font-family: Bahnschrift SemiBold;
    font-size: 16px;
}
.animasi-gambar{
	background-image: url("1.jpeg"); /* gambar awal slide */
	background-size: cover; /* ukuran gambar penuh */
	background-position: center; /* posisi gambar di tengah */
	background-repeat: no-repeat; /*gambar hanya muncul sekali */
	width: 100%;
	height: 650px;
	animation: slide 15s infinite; /* slideshow berjalan 15 detik */
}

@keyframes slide{ /* animasi perubahan gambar slideshow */
	0%{
		background-image: url("1.jpeg");
	}
	33%{
		background-image: url("2.jpg");
	}
	77%{
		background-image: url("3.jpg");
	}
	100%{
		background-image: url("4.jpg");
	}
}

.footer{
    background-color: #1b3142;
    padding: 30px 20px;
    color: #c99253;
    margin-top: 40px; /* jarak di atas */
    width: 100%;
    font-family: Bahnschrift SemiBold;
}
.footer-content{
    text-align: center;
}
.footer-sosmed{
    margin: 15px;
    display: flex; /* logo berada di satu baris */
    justify-content: center;
    gap: 20px; /* jarak antar logo sosmed */
}
.footer-sosmed img{
    width: 35px;
    height: 35px;
    object-fit: contain; /* menyesuaikan ukuran */
}

.about-bagian{
    width: 100%;
    background-color: #c99253;
    padding: 50px 0;
}
.about-container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 0 30px;
}
.about-image img{
    width: 500px;
}
.about-text{
    font-family: Bahnschrift SemiBold;
}
.about-text h2{
    font-size: 35px;
    color: #1b3142;
    margin-bottom: 15px;
}
.about-text p{
    font-size: 18px;
    color: #1b3142;
}

.aboutme-text{
    background-color: #1b3142;
    text-align: center;
    padding: 30px;
    width: 100%;
    color: #c99253;
    font-family: Bahnschrift SemiBold;
    font-size: 16px;
}
.chef-box {
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.chef-img img {
    width: 180px;
    height: 180px;  
    object-fit: cover; 
    border-radius: 50%;
}

.aboutme-img img{
    width: 100%;
    height: 400px;
    object-fit: cover; /* ukuran gambar penuh */
}

.menu-page{
	background-color: #c99253;
    text-align: center;
    padding: 30px;
    color: #1b3142;
    font-family: Bahnschrift SemiBold;
}
.menu-row{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.menu-item{
    text-align: center;
}
.menu-item img{
    width: 220px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px; /* melengkungkan sudut */
}
.harga-menu{
	background-color: #1b3142;
    text-align: center;
    padding: 30px;
    color: #c99253;
    font-family: Bahnschrift SemiBold;
}

.info-order{
    width: 100%;
    padding: 40px;
    background-color: #c99253;
    text-align: center;
    color: #1b3142;
    font-family: Bahnschrift SemiBold;
    font-size: 17px;
}
.info-box{
    background-color: #1b3142;
    color: #c99253;
    padding: 25px;
    border-radius: 15px;
    max-width: 600px; /* batas lebar */
    margin: 25px auto;
    text-align: left;
}

.order-container{
    font-family: Bahnschrift SemiBold;
    background-color: #c99253;
    justify-content: center;
    padding: 50px;
    color: #1b3142;
}
.order-container button{
	font-family: Bahnschrift SemiBold;
}
.restoran-img img{
    width: 100%;
    height: 400px;
    object-fit: cover;